@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "poppins";
}

::-webkit-scrollbar {
  width: 0;
}

.bg-login {
  background: var(
    --bg,
    radial-gradient(100% 55% at 10% 55%, #ffffff 0%, #5d9a9a 100%)
  );
}